.result-wrap { 
    padding:14px; 
    border-radius:8px; 
    border:1px solid #eee; 
}

.container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .card {
    background: beige;
    // background: #ffffff;
    padding: 15px 20px;
    margin-bottom: 12px;
    border-radius: 10px;
    display: flex;
    gap: 15px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  }
  
  .num {
    font-weight: bold;
    color: #4caf50;
    font-size: 18px;
  }
  
  .btns {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 25px;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background: blue;
    color: olive;
    transition: all 0.3s ease;
    
    :hover {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
        background: #1669c1;
    }
  }
  
  .actions{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .actions button {
    padding: 12px 22px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background: #1a73e8;
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .actions button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    background: #1669c1;
  }
  

  a {
    text-align: center;
    cursor: pointer;
    color: #1565c0;
    margin-top: 10px;
    font-size: 16px;
  }
  
  .empty {
    text-align: center;
    margin-top: 40px;
    color: #777;
  }
  